* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}

.title {
  margin-top: 20px;
  color: #26ffcb;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: aqua;
  padding-left: 20px;
}


.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: linear-gradient(#12063b,#09555c);
  cursor: pointer;
  border-radius: 2px;
}



.board1{
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#62cff4,#2c67f2);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
}
.row1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}
.board2 {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(#62cff4,#2c67f2);
  border-radius: 5px;
  margin-bottom: 20px;
  
}
.boards{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h5 {
    font-size: 60px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

.score-board{
  height: 100px;
  width: 100px;
  background-color: #1f3540;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 40px;
}
.score-board p{
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: aqua;
}

.score-name {
  font-size: 30px;
  color: #26ffcb;
  font-weight: 800;
  margin-top: 70px;
}

.scoreBords{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-btn{
  width: 200px;
  height: 40px;
  background-color: #0f1b21;
  border: 2px solid #26ffcb;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: 900;
  
}

.reset-btn:hover{
  background-color: #26ffcb;
  border: 2px solid white;
  color: #0f1b21;
}


.container-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 100px;
}